@font-face {
  font-family: mainFont;
  src: url(./fonts/a-jannat-lt-bold.ttf);
}

@font-face {
  font-family: ayah;
  src: url(./fonts/Al-QuranAlKareem.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #233a48 !important;
  color: #233a48 !important;
  text-align: right !important;

  direction: rtl;
  font-family: mainFont !important;
}

audio::-webkit-media-controls-panel {
  background-color: #ffffff;
}

*:focus {
  outline: 0 !important;
}

form {
  border: 2px solid #233a48;
  border-radius: 45px;
}

table {
  border-color: #233a48 !important;
}

input,
select,
textarea {
  background-color: #ffffff !important;
  text-align: center !important;
}

a:hover {
  text-decoration: none !important;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.ayah {
  font-family: ayah !important;
  font-weight: 900 !important;
}

.text_bg {
  background-color: #ffffff;
  border-radius: 50px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.text_title {
  background-color: #233a48;
  color: #ffffff;
  border-radius: 50px;
  padding: 12px 20px 12px 25px !important;
  text-align: center;
}

.result_btn {
  background-color: #233a48;
  color: #faeed6;
  padding: 10px 30px;
  border: 0;
  border-radius: 50px;
}

.result_btn:hover {
  color: #ffffff;
  background-color: #c09048;
}

.btn_active {
  color: #ffffff !important;
  background-color: #c09048 !important;
}

.action_btn {
  background-color: #233a48;
  color: #faeed6;
  padding: 5px 15px;
  border: 0;
  border-radius: 20px;
}

.action_btn:hover {
  background-color: #c09048;
  color: #ffffff;
}

.disabled_btn {
  color: #faeed6 !important;
  background-color: rgba(35, 58, 72, 0.5) !important;
}

.nav_bg {
  border-radius: 20px 20px 0 0;
  background-color: #faeed6;
}

.nav_line {
  background-color: #c09048;
  height: 10px;
  width: 200%;
  position: absolute;
  left: 0;
  z-index: 5;
}

.displayNone {
  display: none !important;
}

.navlogo {
  position: absolute;
  box-shadow: 10px 0 0 0 #c09048;
  top: 0;
  right: 90px;
  background-color: #233a48;
  width: 100px;
  height: 200px;
  z-index: 585415;
}

.navlogo img {
  position: relative;
  top: 60px;
  right: 19px;
  width: 60px;
  height: 125px;
  z-index: 5854151545;
  cursor: pointer;
}

.navlogominmizer {
  position: absolute;
  box-shadow: 10px 0 0 0 #c09048;
  background-color: #233a48;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  right: 90px;
  top: 150px;
  z-index: 58541;
}

@media only screen and (max-width: 860px) {
  .navlogo {
    height: 100px;
  }
  .navlogominmizer {
    top: 50px;
  }
  .navlogo img {
    top: 0;
  }
  .admin {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 1325px) {
  .navlogo {
    right: 50px;
  }
  .navlogominmizer {
    right: 50px;
  }
}

@media only screen and (max-width: 1250px) {
  .navlogo {
    right: 30px;
  }
  .navlogominmizer {
    right: 30px;
  }
}
@media only screen and (max-width: 499px) {
  body {
    font-size: 10px !important;
  }
}

.rule {
  border-radius: 0 0 20px 20px;
  background-color: #faeed6 !important;
  color: #233a48 !important;
}

.mainComponent {
  background-color: #233a48 !important;
  color: #faeed6;
  border-radius: 20px !important;
}

.Audio {
  margin: auto;
  width: 100%;
}

.recordicon {
  cursor: pointer;
  width: 30px !important;
  height: 30px;
}

.recordicon:hover {
  color: #c09048;
}

.disabled_icon {
  color: rgba(37, 59, 73, 0.5) !important;
  cursor: auto !important;
}

.active_icon {
  color: #c09048 !important;
}

.labelicon {
  cursor: pointer;
  font-size: 35px !important;
  border-radius: 15px !important;
}

.normalcursor {
  cursor: auto !important;
}

.clickable {
  cursor: pointer;
}

.labelhead {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6) !important;
  z-index: 5655262321;
}

.labelalert {
  position: relative !important;
  z-index: 5651;
  width: 450px !important;
  opacity: 5 !important;
}

.nav-pills .nav-link.active {
  color: #faeed6 !important;
  background-color: #233a48 !important;
  border-radius: 5px;
}

.form-control {
  color: #233a48 !important;
}

.toast-header {
  color: #233a48 !important;
  background-color: #ffffff !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #ffffff !important;
  background-color: #233a48 !important;
  border-color: #233a48 !important;
}

.page-link {
  color: #233a48 !important;
  background-color: #ffffff !important;
}

select:focus > option:checked {
  background: #233a48 !important;
  color: #ffffff !important;
}
